@counter-style compte {
  system: numeric;
  symbols: "1" "2" "3";
}
@keyframes ball {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -30px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes loader {
  0% {
    opacity: 1;
    background-color: #fff;
  }
  50% {
    opacity: 1;
    background-color: #fff;
  }
  95% {
    opacity: 1;
    background-color: #fff;
  }
  97% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes menu {
  0% {
    transform: translate(0, 30px);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes opacityOn {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes nouveau {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
}
h1 {
  font-family: "Shrikhand", "Roboto", sans-serif;
}

.titre {
  font-family: "Shrikhand", "Roboto", sans-serif;
}

body, html, button {
  font-family: "Roboto", sans-serif;
}

span {
  font-weight: bold;
}

html {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  width: 100%;
  height: auto;
}

h2, h1, h4, p {
  margin: 0;
  text-overflow: hidden;
  flex-wrap: nowrap;
}

.headermenu {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-decoration: none;
  color: #000;
  background-color: #fff;
}
.headermenu .fa-arrow-left {
  width: 0%;
  display: flex;
  align-items: center;
  margin: 0 0 0 40px;
}
@media (min-width: 1024px) {
  .headermenu .fa-arrow-left {
    font-size: 30px;
  }
}
@media (max-width: 1023px) {
  .headermenu .fa-arrow-left {
    font-size: 50px;
  }
}
.headermenu h1 {
  display: flex;
  justify-content: center;
  text-align: center;
}
@media (min-width: 1024px) {
  .headermenu h1 {
    width: 100%;
  }
}
@media (max-width: 1023px) {
  .headermenu h1 {
    width: 90%;
  }
}

.photo-restaurant {
  position: absolute;
  height: auto;
}
@media (min-width: 1024px) {
  .photo-restaurant {
    top: 85px;
  }
}
@media (max-width: 1023px) {
  .photo-restaurant {
    top: 160px;
  }
}
.photo-restaurant-menu {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.menu {
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  position: relative;
  top: 80px;
}
@media screen and (min-width: 767px) {
  .menu {
    margin: 400px 0 80px 0;
  }
}
@media screen and (max-width: 319px) {
  .menu {
    margin: 0px;
  }
}
.menu > .titre {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .menu > .titre {
    zoom: 150%;
  }
}
.menu > .titre > h1 {
  text-align: left;
}

@media (max-width: 1023px) {
  .containeur {
    zoom: 150%;
  }
}
.containeur > h2 {
  margin: 20px 0;
  font-weight: lighter;
  width: 60px;
  font-weight: lighter;
  border-bottom: solid 4px #99E2D0;
}
.containeur-choix {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  background-color: #fff;
  white-space: nowrap;
  overflow: hidden;
  margin: 20px 0;
  animation: menu 2s;
  animation-fill-mode: both;
  cursor: pointer;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.2);
  transform: scale(1.015);
}
@media (max-width: 1023px) {
  .containeur-choix {
    zoom: 139%;
  }
}
.containeur-choix-titre {
  display: flex;
  width: 80%;
  flex-direction: column;
  padding: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.containeur-choix-titre h2, .containeur-choix-titre h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.containeur-choix-titre h2 {
  margin: 10px 0;
}
.containeur-choix-titre h3 {
  margin: 5px 0;
  font-weight: 200;
}
.containeur-choix-prix {
  display: flex;
  width: 20%;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
}
.containeur-choix-validate {
  margin: -16px -120px -16px 70px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  color: #fff;
  background-color: #99E2D0;
}
.containeur-choix:hover .containeur-choix-validate {
  margin: 0 0 0 20px;
  transition: 0.5s;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}
.containeur-1 {
  animation-delay: 0s;
}
.containeur-2 {
  animation-delay: 0.3s;
}
.containeur-3 {
  animation-delay: 0.6s;
}
.containeur-4 {
  animation-delay: 0.9s;
}
.containeur-5 {
  animation-delay: 1.2s;
}
.containeur-6 {
  animation-delay: 1.5s;
}
.containeur-7 {
  animation-delay: 1.8s;
}
.containeur-8 {
  animation-delay: 2.1s;
}
.containeur-9 {
  animation-delay: 2.4s;
}
.containeur-10 {
  animation-delay: 2.7s;
}

h1 {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}
@media (max-width: 767px) {
  h1 {
    padding: 25px 0;
  }
}
@media (max-width: 1023px) {
  h1 {
    zoom: 200%;
  }
}

header {
  margin-bottom: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.speech {
  text-align: center;
  background-color: #fafafa;
  padding: 30px 0 60px 0;
}
.speech > p {
  margin: 24px 0;
  font-weight: 100;
  font-size: 18px;
}

.place {
  display: flex;
  justify-content: center;
  padding: 20px 10px;
  background-color: #f3f3f3;
  font-size: 19px;
  position: relative;
}
.place-containeur {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.place .fas {
  font-size: 26px;
  margin-right: 10px;
}
.place input {
  border: none;
  background-color: #f3f3f3;
  font-weight: 600;
  font-size: 26px;
  width: 60%;
}
.place input::placeholder {
  color: black;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 30px;
  counter-reset: compte;
  margin: 0;
}
.fonctionnement-titre {
  margin: 0 0 20px 0;
}
.fonctionnement-card {
  margin: 0px;
  padding: 0px;
  list-style: none;
  counter-reset: compteListe;
}
@media (min-width: 1024px) {
  .fonctionnement-card {
    display: flex;
  }
}
.fonctionnement-step {
  width: auto;
  padding: 24px;
  margin: 16px 0 16px 12px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
  border-radius: 20px;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
  text-overflow: hidden;
  flex-wrap: nowrap;
}
@media (min-width: 1024px) {
  .fonctionnement-step {
    flex: 1;
    margin: 0;
    margin-left: 2rem;
  }
}
.fonctionnement-step .fas {
  padding: 0 10px;
  color: #7e7e7e;
}
.fonctionnement-step:first-child {
  margin-top: 0px;
}
@media (min-width: 1024px) {
  .fonctionnement-step:first-child {
    margin-left: 12px;
  }
}
.fonctionnement-step::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356DC;
  height: 24px;
  width: 24px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -12px;
  top: 20px;
}
.fonctionnement-step:hover {
  background-color: #e4d5f6;
  cursor: pointer;
}
.fonctionnement-step:hover .fas {
  color: #9356DC;
}

.restaurants {
  padding: 50px 30px;
  flex-wrap: wrap;
  background-color: #f6f6f6;
}
@media (min-width: 1024px) {
  .restaurants {
    /* pour les ordis */
    display: grid;
    grid-template-columns: 49% 49%;
    grid-gap: 20px;
  }
}
@media (max-width: 1023px) {
  .restaurants {
    /* pour les telephones  et tablettes */
    display: flex;
    flex-direction: column;
  }
}

.card {
  width: 100%;
  margin: 10px 0 10px 0;
  height: auto;
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
@media (max-width: 1023px) {
  .card {
    margin-top: 20px;
  }
}
.card_un {
  grid-area: 2/1/3/2;
  color: black;
  background-color: #fff;
  text-decoration: none;
  border-radius: 20px;
  box-shadow: 0 0 20px #0000002e;
}
.card_deux {
  grid-area: 2/2/3/3;
  color: black;
  background-color: #fff;
  text-decoration: none;
  border-radius: 20px;
  box-shadow: 0 0 20px #0000002e;
}
.card_trois {
  grid-area: 3/1/4/2;
  color: black;
  background-color: #fff;
  text-decoration: none;
  border-radius: 20px;
  box-shadow: 0 0 20px #0000002e;
}
.card_quatre {
  grid-area: 3/2/4/3;
  color: black;
  background-color: #fff;
  text-decoration: none;
  border-radius: 20px;
  box-shadow: 0 0 20px #0000002e;
}
.card-titre {
  grid-area: 1/1/2/3;
}
@media (max-width: 1023px) {
  .card-titre {
    zoom: 150%;
  }
}
.card-img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 300px;
  object-fit: cover;
  position: relative;
  z-index: 2;
}
.card-txt {
  padding: 20px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .card-txt {
    zoom: 130%;
  }
}
.card-txt h2 {
  margin: 10px 0;
}
.card-txt h3 {
  margin: 5px 0;
  font-weight: 200;
}
.card-nouveau {
  display: flex;
  background-color: #99E2D0;
  border-radius: 3px;
  width: 100px;
  height: 30px;
  justify-content: center;
  align-items: center;
  color: #008766;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 3;
  animation: nouveau 2s ease-in-out infinite;
}

footer {
  width: auto;
  background-color: #353535;
  color: #fff;
  height: auto;
  padding: 24px;
}

.logo {
  font-family: "Shrikhand", "Roboto", sans-serif;
}
@media screen and (min-width: 1024px) {
  .logo {
    text-align: center;
  }
}

@media screen and (max-width: 1023px) {
  .footer {
    display: flex;
    flex-direction: column;
    line-height: 200%;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    line-height: 200%;
  }
}
.footer > a {
  color: #fff;
  text-decoration: none;
}
.footer-logo {
  width: 15px;
  height: 15px;
  margin: 0 10px 0 0;
}

.loader-1, .loader-2, .loader-3 {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin: 30px;
  animation: ball 1.5s 3;
}

.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: wait;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  animation: loader 5s;
  animation-fill-mode: forwards;
}
.loader-1 {
  background-color: #9356DC;
  animation-delay: 0s;
}
.loader-2 {
  background-color: #FF79DA;
  animation-delay: 0.2s;
}
.loader-3 {
  background-color: #99E2D0;
  animation-delay: 0.4s;
}

.btn {
  color: #fff;
  border: none;
  padding: 16px 18px;
  border-radius: 80px;
  cursor: pointer;
  box-shadow: 0rem 0rem 0.7rem rgba(0, 0, 0, 0.4);
  background: linear-gradient(#FF79DA, #9356DC);
  margin: auto;
  overflow: hidden;
  font-weight: 500;
  font-size: 18px;
}
.btn-commander {
  color: #fff;
  border: none;
  padding: 16px 18px;
  border-radius: 80px;
  cursor: pointer;
  box-shadow: 0rem 0rem 0.7rem rgba(0, 0, 0, 0.4);
  background: linear-gradient(#FF79DA, #9356DC);
  width: auto;
  margin: auto;
  font-weight: 500;
  font-size: 18px;
}
@media (max-width: 1023px) {
  .btn-commander {
    zoom: 200%;
  }
}
.btn:hover {
  filter: brightness(1.1);
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}

.card-txt-coeur {
  width: 10%;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-size: 30px;
}
@media screen and (min-width: 1024px) {
  .card-txt-coeur {
    zoom: 110%;
  }
}
.card-txt-coeur .fas {
  display: none;
}
.card-txt-coeur:hover, .card-txt-coeur:active {
  animation: opacityOn 0.5s ease-in-out;
}
.card-txt-coeur:hover .fas, .card-txt-coeur:active .fas {
  display: block;
  background: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-txt-coeur:hover .far, .card-txt-coeur:active .far {
  display: none;
}

/*# sourceMappingURL=style.css.map */
