@counter-style compteListe {
  system: numeric;
  symbols: "1" "2" "3";
}
h1, h6, h3 {
  font-family: "Shrikhand", "Roboto", sans-serif;
}

body, html, button {
  font-family: "Roboto", sans-serif;
}

p {
  font-weight: lighter;
}

span {
  font-weight: bold;
  font-size: 20px;
}

html {
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  width: 100%;
  height: auto;
}

h2, h1, h4, p {
  margin: 0;
}

@media screen and (max-width: 1023px) {
  *, button {
    font-size: xxx-large;
  }
}
@media screen and (min-width: 1024px) {
  * {
    font-size: x-large;
  }
}
.headermenu {
  display: flex;
  flex-direction: row;
  width: 100%;
  text-decoration: none;
  color: #000;
  position: fixed;
  top: 0px;
  background-color: #fff;
  z-index: 3;
}
.headermenu .fa-arrow-left {
  width: 42%;
  display: flex;
  align-items: center;
  font-size: 30px;
  margin: 0 0 0 30px;
}
.headermenu h1 {
  width: 58%;
  display: flex;
  text-align: center;
}

.photo-restaurant {
  position: fixed;
  top: 0;
}
.photo-restaurantimg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.menu {
  padding: 30px;
  margin: auto;
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0 0;
  position: relative;
  top: 80px;
}
.menu > .titre {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu > .titre > h1 {
  text-align: left;
}
.menu-btn {
  margin: 20px;
  color: #fff;
  background: #9356DC;
  border: none;
  padding: 25px;
  border-radius: 80px;
  right: 1%;
  top: 5%;
  cursor: pointer;
  background: linear-gradient(#FF79DA, #9356DC);
  width: 50%;
  margin: auto;
}
.menu-btn:hover {
  filter: brightness(1.2);
}

.containeur-choix {
  display: flex;
  flex-direction: row;
  border-radius: 30px;
  background-color: #fff;
  overflow: hidden;
  margin: 20px 0;
}
.containeur-choix-titre {
  display: flex;
  width: 50%;
  flex-direction: column;
  padding: 10px;
}
.containeur-choix-prix {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
}
.containeur-choix-validate {
  margin: -16px -120px -16px 70px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
  color: #fff;
  background-color: #99E2D0;
}
.containeur-choix:hover .containeur-choix-validate {
  margin: 0 0 0 20px;
  transition: 0.5s;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}

h1 {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  font-size: 40px;
}

header {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
}

.speech {
  width: 100%;
  text-align: center;
  background-color: #f6f6f6;
  padding: 30px 0;
}
.speech > h2 {
  margin: 30px;
}
.speech > p {
  margin: 30px;
}

.btn {
  text-align: center;
  color: #fff;
  background: #9356DC;
  border: none;
  padding: 25px;
  border-radius: 80px;
  right: 1%;
  top: 5%;
  cursor: pointer;
  background: linear-gradient(#FF79DA, #9356DC);
}
.btn:hover {
  filter: brightness(1.2);
}

.place {
  width: 100%;
  text-align: center;
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  margin: 5px 0 0 0;
  justify-content: center;
  padding: 30px 0px;
}
.place input {
  border: none;
  background-color: #EAEAEA;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

ol {
  list-style: decimal;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
  width: auto;
  margin: 30px 0px;
  list-style: none;
  counter-reset: compteListe;
}
.fonctionnement > h2 {
  margin: 20px 10px;
}
.fonctionnement-step {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 30px;
  margin: 20px 10px;
  padding: 50px 30px;
  margin: auto;
  margin-top: 30px;
}
.fonctionnement-step .fas {
  padding: 0 10px;
}
.fonctionnement-step > .fa-store {
  color: #9356DC;
}
.fonctionnement-step::before {
  counter-increment: compteListe 1;
  content: counter(compteListe) " ";
  background: #9356DC;
  height: 70px;
  width: 70px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: 75px;
}

.restaurants {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  width: auto;
  flex-wrap: wrap;
  background-color: #f6f6f6;
}

.card {
  width: 100%;
  border-radius: 20px;
  background-color: #fff;
  margin: 10px 0 10px 0;
  height: auto;
  cursor: pointer;
  color: black;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.card-img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  height: 600px;
}
.card-txt {
  padding: 20px;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card-txt-name {
  width: 90%;
}
.card-txt-coeur {
  width: 10%;
  display: flex;
  justify-content: center;
}
.card-txt-coeur .fa {
  font-size: 30px;
}
.card-txt-coeur .fas {
  display: none;
}
.card-txt-coeur:hover .fas {
  animation: fill 0.5s ease-in-out;
  display: block;
  opacity: 1;
  background: linear-gradient(to top, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card-txt-coeur:hover .far {
  display: none;
}

footer {
  width: auto;
  background-color: #353535;
  color: #fff;
  height: auto;
  padding: 20px 10px;
}

.logo {
  font-family: "Shrikhand", "Roboto", sans-serif;
}

.footer {
  display: flex;
  flex-direction: column;
  line-height: 200%;
}
.footer > a {
  color: #fff;
  text-decoration: none;
}

.loader-1, .loader-2, .loader-3 {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  margin: 30px;
  animation: ball 1.5s 5;
}

.loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: wait;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  animation: loader 7.5s;
  animation-fill-mode: forwards;
}
.loader-1 {
  background-color: #9356DC;
  animation-delay: 0s;
}
.loader-2 {
  background-color: #FF79DA;
  animation-delay: 0.2s;
}
.loader-3 {
  background-color: #99E2D0;
  animation-delay: 0.4s;
}

@keyframes ball {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -30px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes loader {
  0% {
    opacity: 1;
    background-color: #fff;
  }
  50% {
    opacity: 1;
    background-color: #fff;
  }
  95% {
    opacity: 0.8;
    background-color: #fff;
  }
  97% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
