@keyframes ball{
    0%{
      transform: translate(0, 0);
    }
    50%{
      transform: translate(0, -30px);
    }
    100%{
      transform: translate(0, 0);
    }
}

@keyframes loader{
    0%{
        opacity: 1;
        background-color: $clr-white;
    }
    50%{
        opacity: 1;
        background-color: $clr-white
    }
    95%{
        opacity: 1;
        background-color: $clr-white;
    }
    97%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes menu{
    0%{
        transform: translate(0, 30px);
        opacity: 0;
    }
    100%{
        transform: translate(0, 0);
        opacity: 1;
    }
}

@keyframes opacityOn {
    0% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
}
@keyframes nouveau{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1)
    }
}