@mixin btn-card {
    color: $clr-white;
    background: $clr-primary;
    border: none;
    padding: 25px;
    border-radius: 80px;
    right: 1%;
    top: 5%;
    cursor: pointer;
    box-shadow: $shadow;
}

@mixin btn-hover{
    filter: brightness(1.2);
}

@mixin header{
    text-decoration: none;
    color: #000;
}

@mixin centrer{
    width: 100%;
    text-align: center;
}

@mixin degrade{
    background: linear-gradient($clr-secondary,$clr-primary);
}

@mixin flexfonctionnement{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flexrestaurant{
    display: flex;
    flex-direction: column;
}

@mixin icon-fct{
    padding: 0 10px;
}

@mixin a-footer{
    color: $clr-white;
    text-decoration: none;
}

@mixin a-restaurants{
    color: black;
    background-color: $clr-white;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0 0 20px #0000002e;
}

@counter-style compteListe {
    system: numeric;
    symbols: "1" "2" "3";
}

@mixin coeur{
    cursor: pointer;
}