$clr-primary : #9356DC;
$clr-secondary : #FF79DA;
$clr-tertiary : #99E2D0;
$clr-white: #fff;
$clr-place: #EAEAEA;
$clr-fct-step: #f6f6f6;
$clr-footer: #353535;

$size-explore : 18px;
$size-icon: 30px;
$size-icon-ordi: 50px;

$border-radius-fct: 30px;

$margin-restaurants: 30px 0 30px 0;
$margin-fonctionnement: 30px 0px;
$margin-fonctionnement-step: 20px 10px;
$margin-arrow: 0 0 0 30px;

$padding-fonctionnement: 50px 30px;

$shadow:0 0 20px #0000002e;