.headermenu{
    display: flex;
    flex-direction: row;
    width: 100%;
    @include header;
    background-color: #fff;
    

    .fa-arrow-left{
        width: 42%;
        display: flex;
        align-items: center;
        font-size: $size-icon;
        margin: $margin-arrow;
    }

    h1{
        width: 58%;
        display: flex;
        text-align: center;
    }
}

.photo-restaurant{
    position: absolute;
    top: 85px;
    height: auto;

    &-menu{
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.menu{
    padding: 30px;
    margin: 500px 0 80px 0;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    background-color: #f6f6f6;
    border-radius: 40px 40px 0 0;
    position: relative;
    top: 80px;

    >.titre{
        display: flex;
        flex-direction: row;
        align-items: center;
        @media (max-width: 1023px){
            zoom: 150%;
        }

        >h1{
            text-align: left;
        }
    }
}

.containeur{
    @media (max-width: 1023px){
        zoom: 150%;
    }

    >h2{
        margin: 20px 0;
    }

    &-choix{
        display: flex;
        flex-direction: row;
        border-radius: 30px;
        background-color: $clr-white;
        white-space: nowrap;
        overflow: hidden;
        margin: 20px 0;
        animation: menu 2s;
        animation-fill-mode: both;
        cursor: pointer;
        box-shadow: $shadow;
        transform: scale(1.015);
        @media (max-width: 1023px){
            zoom: 139%;
        }
    
        
        &-titre{
        display: flex;
        width: 80%;
        flex-direction: column;
        padding: 20px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        h4,p{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        }
            
        &-prix{
        display: flex;
        width: 20%;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        font-weight: bold;
        }
            
        &-validate{
        margin: -16px -120px -16px 70px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: .5s;   
        color: $clr-white; 
        background-color: $clr-tertiary;
        }
        
        &:hover &-validate{
            margin: 0 0 0 20px;
            transition: 0.5s;
            border-radius: 0 20px 20px 0;
            cursor: pointer;
        }
    }
        &-1{
            animation-delay: 0s;
        }
        &-2{
            animation-delay: 0.3s;
        }
        &-3{
            animation-delay: 0.6s;
        }
        &-4{
            animation-delay: 0.9s;
        }
        &-5{
            animation-delay: 1.2s;
        }
        &-6{
            animation-delay: 1.5s;
        }
        &-7{
            animation-delay: 1.8s;
        }
        &-8{
            animation-delay: 2.1s;
        }
        &-9{
            animation-delay: 2.4s;
        }
        &-10{
            animation-delay: 2.7s;
        }
}