.headermenu{
    display: flex;
    flex-direction: row;
    width: 100%;
    @include header;
    position: fixed;
    top: 0px;
    background-color: #fff;
    z-index: 3;
    

    .fa-arrow-left{
        width: 42%;
        display: flex;
        align-items: center;
        font-size: $size-icon;
        margin: $margin-arrow;
    }

    h1{
        width: 58%;
        display: flex;
        text-align: center;
    }
}

.photo-restaurant{
    position: fixed;
    top: 0;

    &img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.menu{
    padding: 30px;
    margin: auto;
    margin-top: 250px;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    background-color: #f6f6f6;
    border-radius: 40px 40px 0 0;
    position: relative;
    top: 80px;    

    >.titre{
        display: flex;
        flex-direction: row;
        align-items: center;

        >h1{
            text-align: left;
        }
    }

    &-btn{
        margin: 20px;
        @include btn-card;
        @include degrade;
        width: 50%;
        margin: auto;

        &:hover{
            filter: brightness(1.2);
        }
    }
}

.containeur-choix{
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    background-color: $clr-white;
    overflow: hidden;
    margin: 20px 0;
      
    &-titre{
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 10px;
    }
        
    &-prix{
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    }
        
    &-validate{
    margin: -16px -120px -16px 70px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;   
    color: $clr-white; 
    background-color: $clr-tertiary;
    }
    
    &:hover &-validate{
        margin: 0 0 0 20px;
        transition: 0.5s;
        border-radius: 0 20px 20px 0;
        cursor: pointer;
    }
    
}