.btn{
    @include btn-card;
    @include degrade;
    width: auto;
    margin: auto;
    font-weight: 500;
    font-size: $size-btn;

    &-commander{
        @include btn-card;
        @include degrade;
        width: auto;
        margin: auto;
        font-weight: 500;
        font-size: $size-btn;
        @media (max-width: 1023px){
            zoom: 200%;
        }
    }

    &:hover{
        @include btn-hover;
    }
}