.fonctionnement{
    width: 100%;
    margin: $margin-fonctionnement;

    > h2{
        margin: $margin-fonctionnement-step;
    }

    &-step{
        width: auto;
        @include flexfonctionnement;
        background-color: $clr-fct-step;
        border-radius: $border-radius-fct;
        margin: $margin-fonctionnement-step;

        .fas{
            @include icon-fct;
        }

        &::before{
            counter-increment: compteListe 1;
            content: counter(compteListe) " ";
            background: #9356dc;
            height: 1.5rem;
            width: 1.5rem;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            position: absolute;
            left: -.75rem;
        }
    }
}