.fonctionnement{

    @media screen and (min-width: 1024px){
        display: flex;
        flex-direction: row;
        margin: 10px;
        
    }   
    @media screen and (max-width: 1023px){
        display: flex;
        flex-direction: column;
    }

    > h2{
        margin: $margin-fonctionnement-step;
    }
    
    &-step{

        @media screen and (max-width: 1023px){
            width: 80%;
            @include flexfonctionnement;
            margin: $margin-fonctionnement-step;
            padding: $padding-fonctionnement;
            margin: auto;
            margin-top: 30px;
        }

        @media screen and (min-width: 1024px){
            width: 100%;
            @include flexfonctionnement;
        }

        .fas{
            @include icon-fct;
        }

        >.fa-store{
            color: $clr-primary;
        }

        &::before {
            @media screen and (max-width: 1023px){
            counter-increment: compteListe 1;
            content: counter(compteListe) " ";
            background: $clr-primary;
            height: 70px;
            width: 70px;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            position: absolute;
            left: 75px;
            }
        }
    }
}