.fonctionnement{
    display: flex;
    flex-direction:column;
    padding: 30px;
    counter-reset: compte;
    margin: 0;

    &-titre{
        margin: 0 0 20px 0;
    }

    &-card{
        margin: $no-margin;
        padding: $no-padding;
        list-style: none;
        counter-reset: compteListe;
        @media (min-width:1024px) {
            display: flex;
        }
    }

    &-step{
        padding: 24px;
        margin: 16px 0 16px 12px;
        box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
        border-radius: 20px;
        background-color: #f6f6f6;
        display: flex;
        position: relative;
        text-overflow: hidden;
        flex-wrap: nowrap;
        

        @media (min-width:1024px) {
            flex: 1;
            margin: 0;
            margin-left: 2rem;
        }

        .fas{
            @include icon-fct;
            color: #7e7e7e;
        }
        
        &:first-child{
            @media (min-width: 1024px){
                margin-left: 12px;
            }
            margin-top: $no-margin;
        }

        &::before {
            counter-increment: compteListe 1;
            content: counter(compteListe) " ";
            background: $clr-primary;
            height: 24px;
            width: 24px;
            border-radius: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            position: absolute;
            left: -12px;
            top: 20px;
        }

        &:hover{
            background-color: #e4d5f6;
            cursor: pointer;

            .fas{
                color: $clr-primary;
            }
        }
    }
}