footer{
    width: auto;
    background-color: $clr-footer;
    color: $clr-white;
    height: auto;
    padding: $margin-fonctionnement-step;
    @media (max-width: 1023px){
        zoom: 250%;
    }
}

.logo{
    font-family: 'Shrikhand', 'Roboto', sans-serif;
    @media screen and (min-width: 1024px){
        text-align: center;
    }
}


.footer{
    @media screen and (max-width: 1023px){
        display: flex;
        flex-direction: column;
        line-height: 200%;
    }

    @media screen and (min-width: 1024px){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        line-height: 200%;
    }

    > a{
        @include a-footer;
    }

    &-logo{
        width: 15px;
        height: 15px;
        margin: 0 10px 0 0;
    }
}