.loader-1, .loader-2, .loader-3{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin: 30px;
    animation: ball 1.5s 3;
}
  
.loader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: wait;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    animation: loader 5s;
    animation-fill-mode: forwards;
    
    &-1{
      background-color: #9356DC;
      animation-delay: 0s;
    }
    &-2{
      background-color: #FF79DA;
      animation-delay: 0.2s
    }
    &-3{
      background-color: #99E2D0;
      animation-delay: 0.4s;
    }
}