.place{
    display: flex;
    justify-content: center;
    padding: 20px 0px 20px 150px;
    background-color: #f3f3f3;
    font-size: 19px;
    position: relative;
    @media (max-width: 1023px){
        zoom: 200%;
    }
    
    .fas{
        font-size: 26px;
        margin-right: 10px; 
    }

    input{
        border: none;
        background-color: #f3f3f3;
        font-weight: 600;
        font-size: 26px;
        

        &::placeholder{
            color: black;
        }
    }
}