h1{
  font-family: 'Shrikhand', 'Roboto', sans-serif;
  @media (max-width: 1023px){
    zoom: 150%;
  }
}

body, html, button {
  font-family: 'Roboto', sans-serif;
}

span{
  font-weight: bold;
}

.page{
  @media (max-width: 767px){
    zoom: 200%;
  }
}